html,
body,
#app {
  height: 100%;
  min-width: 1366px;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.el-input__inner:focus {
  border-color: #DCDFE6 !important;
}

.el-table {
  margin: 20px 0;
}

.el-form-item {
  margin-bottom: 32px !important;
}

.el-cascader-panel {
  height: 300px;
}

.el-breadcrumb {
  margin-bottom: 20px;
}

.el-table th.gutter {
  display: table-cell !important;
}

.el-alert__title {
  font-size: 15px !important;
}
.ql-editor{
  min-height: 300px;
}
